javascript sdk 的問題

今天，有朋友問起 sdk 相關的事情，

為何 sdk 是這樣寫的，有什麼目的嗎？

Google Analytics SDK
```js
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

// or

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-XXXXXXXX-X', 'xxx.com');
ga('require', 'displayfeatures');
ga('send', 'pageview');
```

Facebook SDK
```js
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 'your-app-id',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
```

UserVoice Javascript SDK
```js
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];
(function(){
  var uv=document.createElement('script');
  uv.type='text/javascript';
  uv.async=true;
  uv.src='//widget.uservoice.com/[YOUR_API_KEY].js';
  var s=document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(uv,s)
})();
```

Mixpanel Javascript API
```html
<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("YOUR TOKEN");</script><!-- end Mixpanel -->
```
Google Maps Javascript API
```html
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY" type="text/javascript"></script>
```
---
我直覺回答我朋友

1. 越原生越好
2. code 越少越好
3. 速度 越快越好
4. code 越看不懂越好 XD

---

以 Facebook sdk 為例，

其實我們可以直接這樣吧
```js
<script src="//connect.facebook.net/en_US/sdk.js"></script>
```
據我所知
```js
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
```
這樣設計是為了 async 非同步載入 sdk，不直接影響網頁原本載入的資源

但我不確定真正原因，有人可以告訴我為何這樣設計嗎 :pray: 

更新：這裡是 [解答](http://stackoverflow.com/questions/748175/asynchronous-vs-synchronous-execution-what-does-it-really-mean) [更多](https://www.igvita.com/2014/05/20/script-injected-async-scripts-considered-harmful/)
Synchronous:
```
|----A-----||-----B-----------||-------C------|
```
Asynchronous:
```
 |----A-----|
    |-----B-----------| 
        |-------C------|
```

---

我在這裡看到

https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingEcommerce

**Asynchronous Syntax** (recommend) v.s. **Traditional Syntax**

To read:
Third-party Javascript

解答！
http://stackoverflow.com/questions/748175/asynchronous-vs-synchronous-execution-what-does-it-really-mean
Synchronous:
```
|----A-----||-----B-----------||-------C------|
```
Asynchronous:
```
 |----A-----|
    |-----B-----------| 
        |-------C------|
```

開發步驟 (from book: Third-party Javascript , Ben Vinegar, Anton Kovalyov)

1. Configuring your environment for third-party development
    - Publisher test page
    - The web server
    - Simulating multiple domains
2. Loading the initial script
    - Blocking script includes
    - Nonblocking scripts with async and defer
    - Dynamic script insertion (上面提到的 Asynchronous 方法)
3. The initial script file
    - Aliasing window (用於 minify，因為 window 六個字太長了！）
    - Aliasing undefined (避免其他人重新定義 undefined)
    - Basic application flow
4. Loading additional files
    - Javascript files - loadScript() // async call
    - Libraries // Stork.$ = Stork.jQuery = jQuery.noConflict(true);
5. Passing script arguments (載入時帶入的參數)
    - Using the query string // http://camerastork.com/widget.js?product=1234
    - Using the fragment identifier // http://camerastork.com/widget.js#product_id=1234
    - Using custom data attributes // <script data-stork-product-id="1234"> ... </script>
    - Using global variables
6. Fetching application data

為何看到有些人是用 iframe？
使用 iframe 不是不好的建議嗎？

SOP! same-origin policy
snippet
```js
var mail = document.createElement('iframe');

mail.src = 'http://gmail.com/';
mail.style.display = 'none';

document.body.appendChild(mail);
mail.contentWindow.GMAIL.deleteAllMyMailPlease();
```

### Cookie
http & https 之間可以互相使用

### localStorage
http & https 之間是獨立的！！！

what the ...f

### Image Beacon
(new Image()).src = 'http://xxxxx.com/track?id=1111';

### Post single name value
```js
var form = document.createElement('form');
var input = document.createElement('input');

form.style.display = 'none';
form.setAttribute('method', 'POST');
form.setAttribute('action', 'http://xxxx.com/track');

input.name = 'username';
input.value = 'attacker';

form.appendChild(input);
document.getElementsByTagName('body')[0].appendChild(form);

form.submit();
```

### session id & session duration

document from google
https://support.google.com/analytics/answer/2731565?hl=en
https://support.google.com/analytics/answer/1006253?hl=en

判斷瀏覽器頁面開啟

1. 使用者自行輸入網址
2. 使用重刷 F5 頁面
3. 點擊連結 (current & new tab)

### 載入 sdk 版本的幾個方法

```
http://xxx.com/sdk.js?v=1
```
http://xxx.com/1.0.0/sdk.js

Web SDK
Android SDK
IOS SDK
分很開。

### parse URL

Web SDK 如果要 parse URL 的話怎麼辦，

```js
var a = new URL();
```

Only works on Modern Browser.

For older browser, use polyfll.

There are tons of polyfill or shim or snippets to say this.

Try 
http://stackoverflow.com/questions/736513/how-do-i-parse-a-url-into-hostname-and-path-in-javascript


### Components of an URI

RFC 3986 Section 3 visualizes the structure of URIs as follows:

URL:      foo://example.com:8042/over/there?name=ferret#nose
          \_/   \______________/\_________/ \_________/ \__/
           |           |            |            |        |
        scheme     authority       path        query   fragment
           |   _____________________|__
          / \ /                        \
URN:      urn:example:animal:ferret:nose
Components of an URL in URI.js

                         authority
                   __________|_________
                  /                    \
              userinfo                host                          resource
               __|___                ___|___                 __________|___________
              /      \              /       \               /                      \
         username  password     hostname    port     path & segment      query   fragment
           __|___   __|__    ______|______   |   __________|_________   ____|____   |
          /      \ /     \  /             \ / \ /                    \ /         \ / \
    foo://username:password@www.example.com:123/hello/world/there.html?name=ferret#foo
    \_/                     \ / \       \ /    \__________/ \     \__/
     |                       |   \       |           |       \      |
  scheme               subdomain  \     tld      directory    \   suffix
                                   \____/                      \___/
                                      |                          |
                                    domain                   filename

In Javascript the query is often referred to as the search. URI.js provides both accessors with the subtle difference of .search() beginning with the ?-character and .query() not.

In Javascript the fragment is often referred to as the hash. URI.js provides both accessors with the subtle difference of .hash() beginning with the #-character and .fragment() not.

Components of an URN in URI.js

    urn:example:animal:ferret:nose?name=ferret#foo
    \ / \________________________/ \_________/ \ /
     |               |                  |       |
  scheme       path & segment         query   fragment
    


Move to a new Project 
https://github.com/huei90/javascript-sdk-design

Javascript sdk design 超越沒什麼人用的 i18n-generator 了！！！

![screen shot 2015-07-22 at 9 40 42 am](https://cloud.githubusercontent.com/assets/2560096/8816189/ddbcf63e-3055-11e5-9d0b-4bfbeaf1b9cc.png)


快超越也是沒什麼人用的 snap.svg.zpd 了

![screen shot 2015-08-18 at 12 02 47 pm](https://cloud.githubusercontent.com/assets/2560096/9322058/e5b3132c-45a0-11e5-8fa8-c1dcbfd2d606.png)


大邁進
![screen shot 2016-01-04 at 10 33 53 am](https://cloud.githubusercontent.com/assets/2560096/12082498/890f5964-b2ce-11e5-9b33-7f19cc5c985d.png)


🎉 2017

![screen shot 2017-01-06 at 18 17 37](https://cloud.githubusercontent.com/assets/2560096/21726306/7f783ce6-d43c-11e6-9307-97b63e344058.png)
